.header {
  position: fixed;
  top: 0;
  left: 0;
  color: #00a652;
  width: 100%;
  height: 60px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  padding: 0 60px;
  border-radius: 25px;
  z-index: 9;
  backdrop-filter: blur(7px);


  > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    > div {
      > ul {
        display: flex;
        list-style: none;

        > li {
          padding: 0 30px;
          display: flex;
          font-weight: 700;
          flex-direction: column;
          text-transform: uppercase;
          cursor: pointer;
          &::after {
            content: "";
            width: 0%;
            height: 3px;
            background: #0FFF50;
            transform: translateX(-10%);
          }
        }

        > .active {
          &::after {
            animation-fill-mode: forwards;
            animation-name: active-link;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
          }
        }
      }
    }

    > :last-child {
      height: 100%;
      border-radius: 150px;
      padding: 3px;
      position: relative;

      .image {
        display: flex;
        height: 100%;
        > img {
          height: 55px;
          width: 55px;
          border-radius: 150px;
        }
        > .headerOption {
          display: none;
          position: absolute;
          left: -20px;
          top: 58px;
          background: white;
          border-radius: 15px;
          box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
            25px 35px 20px rgba(0, 0, 0, 0.05),
            25px 30px 30px rgba(0, 0, 0, 0.05),
            inset -20px -20px 25px rgba(255, 255, 255, 0.9);
          width: 130px;
          height: 150px;
          > ul {
            height: 100%;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            > li {
              cursor: pointer;
            }
          }
        }

        &:hover {
          .headerOption {
            display: flex;
          }
        }
      }
    }
  }
}


@keyframes active-link {
  from {width: 0%;}
  to {width: 130%;}
}