.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > form {
    background: rgba(255, 255, 255, 0.562);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    min-height: 500px;
    border-radius: 30% 70% 63% 37% / 46% 46% 54% 54%;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
      25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
      inset -20px -20px 25px rgba(255, 255, 255, 0.9);

    > :first-child {
      text-align: center;
      font-weight: 700;
      font-size: 25px;
      margin: 50px 0;
    }

    > input {
      padding: 10px;
      width: 80%;
      margin-top: 20px;
      border-radius: 10px;
      outline: none;
      background: rgb(223, 218, 218);
      border: none;
      font-size: 15px;
    }

    > button {
      margin-top: 50px;
      background: rgb(223, 218, 218);
      border: none;
      outline: none;
      padding: 8px;
      border-radius: 5px;
      width: 100px;
      cursor: pointer;
    }

    > :last-child {
      margin-top: 30px;

      > span {
        color: blue;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 600px) {
  .login{

    >form{
      min-width: 400px;
      min-height: 500px;
    }
  }
}