.studentCard{
    display: flex;
    border: 1px solid black;
    width: 470px;
    padding: 20px;
    justify-content: space-between;
    border-radius: 15px;
    margin: 10px;

    >:first-child{
        width: 100px;

        >img{
            width: 70px;
            height: 70px;
            border-radius: 100%;
        }
    }

    >:last-child{
        display: flex;
    }
}

@media (max-width: 700px) {
    .studentCard{
        width: 100%;
    padding: 20px;

    }
}